include README.md
include LICENSE
include CHANGELOG.md
include requirements*.txt
recursive-include docs *.md *.rst *.txt
recursive-include examples *.py *.ipynb
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]